<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - TPXX - Apellido</title>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>
    <body >
        <header class="casa">
            <a id="logo-casa" href='@Url.Action("Index")' alt="Volver al inicio"><img src="~/imagenes/casa.png"></a>
        </header>
        <div>
            <h3 id='mensajeError'>@ViewBag.Error</h3>
            @RenderBody()
        </div>

        <footer>
                
        </footer>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
