<div class="nosotros">
<div class="yo">
    <img src="~/imagenes/Ame.jpg">
    <h3>Amelie Torre Walsh</h3>
</div>
<div class="yo">
    <img src="~/imagenes/Tiago.jpg">
    <h3>Tiago Shebar</h3>
</div>
</div>