<article>
<div class="room1">
    <div id="countdown"></div>
<h1>La Cueva</h1>
    <div class="textoPista">
        <div class="texto">
            <p>Desde el lunes hasta el viernes, soy la última en llegar. En sábado soy la primera. ¿Y en domingo? A descansar.</p>
        </div>
        <div class="pista">
            <button id="R1-B1" onclick="GetClue('R1-P1')"><img src="~/imagenes/bombilla.png"></button>
            <p id='R1-P1' style="display:none">Una letra</p>
        </div>
    </div>
    <div class="textoPista">
        <p>Cual es la letra que, sin estar en todas partes, lo abarca todo</p>
        <div class="pista">
            <button id="R1-B2" onclick="GetClue('R1-P2')"><img src="~/imagenes/bombilla.png"></button>
            <p id='R1-P2' style="display:none">Es fácil</p>
        </div>
    </div>
    <div class="textoPista">
        <p>Toda mi vida en un mes; mi caudal son cuatro cuartos y aunque me ves pobrecitando, ando siempre muy alto.</p>
        <div class="pista">
            <button id="R1-B3" onclick="GetClue('R1-P3')"><img src="~/imagenes/bombilla.png"></button>
            <p id='R1-P3' style="display:none">Es una palabra, no una letra</p>
        </div>
    </div>
    <div class="textoPista">
        <p>Si me sumas conmigo mismo, mis dígitos me sumaran. La raíz cuadrada soy el límite sin igual. Divideme y en fracción eterna me podrás hallar. Enigma matemático, ¿puedes adivinar?</p>
        <div class="pista">
            <button id="R1-B4" onclick="GetClue('R1-P4')"><img src="~/imagenes/bombilla.png"></button>
            <p id='R1-P4' style="display:none">Un numero del 1-10</p><br>
        </div>
    </div>
   <p id='R1-PG' style="display:none">Junta, las letras de las primeras dos adivinanzas, la primer letra de la tercer y utiliza la respuesta de la cuarta para identificar el cifrado</p><br>
    <p id='R1-R' style="display:none">bxt</p><br>
<footer>
    <form autocomplete="off" action='@Url.Action("Habitacion")'>
        <input type="text" name="clave"/>
        <input type="hidden" name="sala" value=@Escape.GetEstadoJuego()>
        <input type="submit">
    </form>
    <button id="R1-BG" onclick="GetClue('R1-PG')">Pista</a>
    <button id="R1-B" onclick="GetClue('R1-R')">Respuesta</a>
</footer>
    </div>
</article>