    <h2><a href='@Url.Action("Index")' alt="Volver al inicio">Casa</a></h2>
    <h3>@ViewBag.Error</h3>
    <h1>La Cueva</h1>
    <img src="~/imagenes/Habitacion1.png">
    
    <p>Desde el lunes hasta el viernes, soy la última en llegar. En sábado soy la primera. ¿Y en domingo? A descansar.</p>
    <button id="R1-B1" onclick="GetClue('R1-P1')">Pista</button>
    <p id='R1-P1' style="display:none">Una letra</p>

    <p>Cual es la letra que, sin estar en todas partes, lo abarca todo</p>
    <button id="R1-B2" onclick="GetClue('R1-P2')">Pista</button>
    <p id='R1-P2' style="display:none">Es fácil</p>

    <p>Toda mi vida en un mes; mi caudal son cuatro cuartos y aunque me ves pobrecitando, ando siempre muy alto.</p>
    <button id="R1-B3" onclick="GetClue('R1-P3')">Pista</button>
    <p id='R1-P3' style="display:none">Es una palabra, no una letra</p>

    <p>Si me sumas conmigo mismo, mis dígitos me sumaran. La raíz cuadrada soy el límite sin igual. Divideme y en fracción eterna me podrás hallar. Enigma matemático, ¿puedes adivinar?</p>
    <button id="R1-B4" onclick="GetClue('R1-P4')">Pista</button>
    <p id='R1-P4' style="display:none">Un numero del 1-10</p><br>

    <p id='R1-PG' style="display:none">Junta, las letras de las primeras dos adivinanzas, la primer letra de la tercer y utiliza la respuesta de la cuarta para identificar el cifrado</p><br>
    <p id='R1-R' style="display:none">bxt</p><br>

    <form autocomplete="off" action='@Url.Action("Habitacion")'>
        <input type="text" name="clave"/>
        <input type="hidden" name="sala" value=1>
        <input type="submit">
    </form>

    <button id="R1-BG" onclick="GetClue('R1-PG')">Pista</a>
    <button id="R1-B" onclick="GetClue('R1-R')">Respuesta</a>