
<section class="Room4">
    <h1>A un paso de casa</h1>
    <p>Intenta encender el bote. ¡Apurate!, o te encontraran.</p>
    <img src="~/imagenes/Habitacion4.png">

<div class="simon-container">
    <div class="simon">
      <div class="simon-button green"></div>
      <div class="simon-button red"></div>
      <div class="simon-button yellow"></div>
      <div class="simon-button blue"></div>
    </div>
    <button class="start-button">Start</button>
    <h2 class="message"></h2>
  </div>

    <form autocomplete="off" action='@Url.Action("Habitacion")'>
        <input type="text" name="clave"/>
        <input type="hidden" name="sala" value=4>
    </form>

    <p id='R4-PG' style="display:none">Junta, las letras de las primeras dos adivinanzas, la primer letra de la tercer y utiliza la respuesta de la cuarta para identificar el cifrado</p><br>
    <p id='R4-R' style="display:none">bxt</p><br>
    <button id="R4-BG" onclick="GetClue('R4-PG')">Pista</button>
    <button id="R4-B" onclick="GetClue('R4-R')">Respuesta</button>

</section>