<audio src="~/musica/musica-indiana.mp3" preload="metadata" autoplay loop></audio>
<section class="Room4">
    <div id="countdown"></div>
    <h1>A un paso de casa</h1>
    <div class="consigna"><p>Para lograr escapar de la isla con el tesoro debes replicar la secuencia del Simon y así encender el bote que te sacará de allí. ¡Apurate!</p></div>

<div class="simon-container">
    <div class="simon">
      <div class="simon-button green"></div>
      <div class="simon-button red"></div>
      <div class="simon-button yellow"></div>
      <div class="simon-button blue"></div>
    </div>
    <button class="start-button">Start</button>
    <h2 class="message"></h2>
  </div>

<script src="~/js/simon.js" asp-append-version="true"></script>
</section>