@{
    ViewData["Title"] = "Index";
}

<h1>La Busqueda del Tesoro</h1>
<h3>Sin perseverancia no hay victoria</h3>

<a href='@Url.Action("Tutorial")'>Ver tutorial aquí</a>

<a href='@Url.Action("Comenzar")'><h2>Comenzar juego</h2></a>

<footer>
    <a href="creditos.cshtml">Créditos</a>
</footer>