<audio src="~/musica/perdida.mp3" preload="metadata" autoplay loop></audio>
<section class="Perdida">
    <h1>Perdiste</h1>
    <a href='@Url.Action("Comenzar")'><p>Volver a jugar</p></a>
    <input type="hidden" id="h" name="sala" value=@Escape.GetEstadoJuego()>
</section>
<script src="~/js/site.js" asp-append-version="true"></script>