<div class="tutorial">
    <h1>Tutorial:</h1>
    <p>Tu objetivo es avanzar de sala en sala para poder encontrar el tesoro perdido y lograr escapar de la isla. A medida que vas avanzando, nuevos problemas a resolver van surgiendo y dependerá de ti lograr salir con vida de aquí.</p></br>
    <p>Utiliza la casita para volver a la pagina principal (Cuidado, el tiempo se reinicia) y selecciona 'Comenzar Juego' para comenzar esta aventura. Se te irá explicando en cada sala lo que debes hacer para salir de la misma.</p>
    <p>En la parte superior del lado derecho del usuario, encontrara una cuenta regresiva y si ese tiempo se acaba, perderá</p>
</div>