<h1>Tutorial:</h1>
<p>Eres un aventurero que luego de años de investigación, logró decifrar la ubicación de un tesoro Maya perdido hace más de 500 años.</p>
<p>Tu objetivo es avanzar de sala en sala para poder encontrar el tesoro perdido y lograr escapar de la isla. A medida que vas avanzando, nuevos problemas a resolver van surgiendo y dependerá de ti lograr salir con vida de aquí</p>