<audio src="~/musica/victoria.mp3" preload="metadata" autoplay loop></audio>
<section class="Victoria">
    <h1>Felicitaciones</h1>
    <a href='@Url.Action("Comenzar")'><p>Volver a jugar</p></a>
</section>

