html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}
*{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.room1{
  background-image: url('../imagenes/Habitacion1.png');
  height: 1000px;
}
body {
  text-align: center;
  margin: 0px; 
  background-color: beige;
}

header {
  margin-bottom: 5%;
}

header img{
  float: left;
  width: 80px;
  padding-left: 10%;
}

footer {
  position: fixed; 
  bottom: 0; 
  margin: 10px 0px 20px 0px;
  margin-top: 5%;
}

h1 {
  font-size: 40px;
  text-decoration: underline;
  text-align: center;
}

.textoPista{
  clear: left;
  width: 100%;
  
}

p {
  font-size: 20px;
}

.textoPista img{
  width: 15px;
  height: auto;
}

.texto{
  width: 99%;
}
 
.img-room {
  width: 600px;
}

.pista{
  margin: 0 auto;
  padding-bottom: 1%;
}

.pista button {
  text-align: center;
}

