html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}
@font-face {
  font-family: 'Mayan';
  src: url('../tipografia/Mayan.ttf');
}
*{
  font-family: 'Mayan';
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
#countdown{
  font-size: 60px;
}
.room1{
  background-image: url('../imagenes/Habitacion1.png');
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment:scroll;
  background-size: cover;
  color:rgb(255, 250, 244);
}
.room1 img{
  margin: none;
}

body {
  justify-content: center;
  text-align: center;
  width: 100dvw;
  height: 100vh;
}

header {
  margin-bottom: 10%;
  position: absolute;
  width: 99%;
}

#mensajeError{

  color:orangered;
  font-size: 25px;
}

header img{
  float: left;
  width: 80px;
}


footer {
  position: fixed; 
  bottom: 0; 
  margin: 10px 0px 20px 0px;
}

h1 {
  font-size: 40px;
  text-decoration: underline;
  text-align: center;
}

.textoPista{
  clear: left;
  width: 100%;
  margin-bottom: 5%;
}

p {
  font-size: 20px;
}

.textoPista img{
  width: 15px;
  height: auto;
}

.texto{
  width: 99%;
}
 
.img-room {
  width: 600px;
}

.pista{
  margin: 0 auto;
  padding-bottom: 1%;
}

.pista button {
  text-align: center;
}

form {
  text-align: center;
  margin: 0 auto;
}

